.tulls {
    padding-top: 162px;
}

.tulls__title {
    margin-bottom: 93px;
    text-align: center;
    font-size: 70px;
    font-weight: 700;
    line-height: 117.2%;
}

.tulls__img img {
    width: 100%;
}

/* ========================================================== */

.steps {
    padding-top: 139px;
}

.steps__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.steps__title {
    font-size: 70px;
    font-weight: 700;
    line-height: 117.2%;
    margin-bottom: 28px;
}

.steps__text {
    font-size: 25px;
    line-height: 158.2%;
    max-width: 579px;
    margin-bottom: 85px;
}

.steps__grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    text-align: start;
    gap: 155px;
}

.steps__first,
.steps__second,
.steps__third {
    position: relative;
}

.steps__step {
    font-size: 21px;
    line-height: 130.2%;
    margin-bottom: 20px;
}

.steps__number {
    position: absolute;
    top: -100px;
    right: -30px;
    font-size: 300px;
    font-weight: 700;
    line-height: 117.2%;
    background: linear-gradient(180deg, rgba(61, 79, 59, 0.37) 0%, rgba(61, 79, 59, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.free {
    top: -100px;
    right: -125px;
}

.steps__sub {
    font-size: 35px;
    line-height: 130.2%;
    margin-bottom: 29px;
    max-width: 381px;
    height: 138px;
}

.steps__description {
    font-size: 22px;
    line-height: 158.7%;
    max-width: 377px;
}

/* ========================================================== */

.bonus {
    margin-top: 302px;
    position: relative;
}

.bonus__inner {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bonus__info {
    position: relative;
}

.bonus__blur-right {
    position: absolute;
    top: 0;
    right: -150px
}

.bonus__blur-left {
    position: absolute;
    top: 0;
    left: -150px;
}

.bonus__gift-right {
    position: absolute;
    top: -295px;
    right: 0;
}

.bonus__gift-left {
    position: absolute;
    top: -295px;
    left: 0;
}

.bonus__content {
    position: absolute;
    top: -150px;
    right: 0px;
    font-size: 200px;
    font-weight: 700;
    line-height: 117.2%;
    background: linear-gradient(193deg, #4B5951 11.55%, rgba(61, 82, 70, 0.10) 69.07%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bonus__title {
    font-size: 70px;
    font-weight: 700;
    line-height: 117.2%;
    margin-bottom: 20px;
}

.bonus__text {
    font-size: 25px;
    line-height: 158.2%;
    margin-bottom: 65px;
}

.bonus__buttons {
    display: flex;
}

.bonus__button-gold,
.bonus__button-black {
    width: 376px;
    padding: 36px 0 35px 0;
}

.bonus__button-gold {
    margin-right: 20px;
}

/* ========================================================== */
.advantages {
    padding-top: 143px;
}

.advantages__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.advantages__title {
    text-align: center;
    font-size: 70px;
    line-height: 117.2%;
    margin-bottom: 80px;
}

.advatages__grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    gap: 19px;
}

.advatages__block {
    position: relative;
    width: 378px;
    height: 442px;
    border-radius: 5px;
    background: #1B1B1C;
    padding: 44px 29px 30px 38px;
}

.advatages__block>img {
    margin-bottom: 30px;
}

.advatages__sub {
    font-size: 26px;
    line-height: 125.2%;
    margin-bottom: 35px;
}

.advatages__text {
    font-size: 22px;
    line-height: 156.7%;
}

.advantages__learnmore {
    position: absolute;
    bottom: 22px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s;
}
.advantages__learnmore:hover {
    transform: scale(1.02);
}

.advatages__block a {
    color: #FFF;
    font-size: 18px;
    line-height: 156.7%;
    text-decoration-line: underline;
    text-decoration-style: solid;

}

.arrow {
    width: 20px;
}

/* ========================================================== */

.portfolio {
    padding-top: 143px;
}

.portfolio__inner {
    display: flex;
    flex-direction: column;
    gap: 213px;
}

.portfolio__content {
    display: flex;
    justify-content: space-between;
    gap: 179px;
}

.portfolio__scale {
    padding-top: 103px;
}

.portfolio__figure {
    position: relative;
}

.portfolio__figure::after,
.portfolio__figure::before {}

.portfolio__info {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 115px;
    right: 140px;

}

.portfolio__profit {
    font-size: 30px;
    line-height: 156.7%;
}

.portfolio__active {
    display: flex;
    gap: 24px;
    font-size: 65px;
    line-height: 117.2%;
    margin-bottom: 16px;
}

.portfolio__risk {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 172px;
    height: 32px;
    border-radius: 35px;
    background: linear-gradient(93deg, rgba(66, 89, 74, 0.40) 8.36%, rgba(101, 204, 125, 0.22) 100.64%);
    color: #C5C5C5;
    font-size: 18px;
    line-height: 126.2%;
    margin-bottom: 43px;
}

.portfolio__but {
    margin-top: 52px;
    font-size: 25px;
    line-height: 156.7%;
}

.portfolio__checkbox {
    appearance: none;
    width: 42px;
    height: 42px;
    border: #41594A 2px solid;
    border-radius: 100%;
}

.portfolio__checkbox:checked {
    border: #425C4C 12px solid;
}

.portfolio__but-first {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 32px;
}

.portfolio__but-second {
    display: flex;
    align-items: center;
    gap: 32px;
}

.portfolio__title {
    font-size: 65px;
    line-height: 117.2%;
    margin-bottom: 18px;
}

.portfolio__p {
    font-size: 25px;
    line-height: 158.2%;
    margin-bottom: 50px;
    max-width: 510px;
}

.portfolio__button-gold {
    max-width: 378px;
    width: 100%;
    padding: 35px 0 38px 0;
}

.portfolio__flex {
    display: flex;
}

.portfolio__item1 {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio__item2 {
    max-width: 371px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 202px;
}

.portfolio__item3 {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 250px;
}

.portfolio__number {
    font-size: 70px;
    font-weight: 700;
    line-height: 117.2%;
    background: linear-gradient(91deg, #65CA7C 1.74%, #4F815C 27.19%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.portfolio__inscription {
    color: #E7E7E7;
    font-size: 26px;
    font-weight: 500;
    line-height: 125.2%;
}

/* ========================================================== */

.devices {
    padding-top: 245px;
}

.devices__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 62px;
    position: relative;
}

.devices__blur {
    position: absolute;
    top: -200px;
    left: -600px;
}

.devices__content {
    display: flex;
}

.devices__text {
    max-width: 530px;
    display: flex;
    flex-direction: column;
}

.devices__title {
    padding-top: 89px;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 25px;
}

.devices__p {
    color: #FAFAFA;
    font-size: 25px;
    line-height: 158.2%;
    margin-bottom: 52px;
}

.devices__buttons {
    display: flex;
    gap: 20px;
}

.devices__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    width: 245px;
    height: 70px;
    border-radius: 35px;
    border: 2px solid rgba(255, 255, 255, 0.60);
    transition: .4s;
}
.devices__button:hover{
    box-shadow: 0px 3px 49px -3px rgba(226, 128, 72, 0.76), 0px -4px 0px 0px #8F4119 inset;
}

.devices__img {
    max-width: 1052px;
    max-height: 689px;
    width: 100%;
}

.devices__img img {
    width: 100%;
}

.devices__apps img {
    width: 100%;
}

/* ========================================================== */

.questions {
    padding-top: 280px;
}

.questions__inner {
    display: flex;
    justify-content: space-between;
}

.questions__text {
    display: flex;
    flex-direction: column;
}

.questions__title {
    font-size: 70px;
    font-weight: 700;
    line-height: 117.2%;
    margin-bottom: 21px;
}

.questions__p {
    max-width: 343px;
    font-size: 22px;
    line-height: 158.7%;
}

.questions__button {
    max-width: 376px;
    width: 100%;
    height: 106px;
    margin-top: auto;
}

.questions__action {
    padding-top: 41px;
    display: flex;
    flex-direction: column;
    gap: 83px;
}

.questions__click {
    display: flex;
    align-items: center;
    font-size: 39px;
    line-height: 117.2%;
}

.quest {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: #24242D;
    border-radius: 100%;
    font-size: 35px;
    line-height: 117.2%;
    margin-right: 84px;
}

.questions__mid {
    width: 670px;
    margin-right: 192px;
}

.questions__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    stroke-width: 3px;
    stroke: #272932;
    border: #272932 3px solid;
    border-radius: 100%;
}

/* ========================================================== */

.application {
    padding-top: 185px;
    position: relative;
}

.application__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.application__title {
    font-size: 70px;
    font-weight: 700;
    line-height: 117.2%;
    margin-bottom: 84px;
}

.application__steps {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 200px;
}

.application__step1 {
    max-width: 330px;
    position: relative;
}

.application__step2 {
    position: relative;
}

.application__step1 svg {
    position: absolute;
    right: -140px;
}

.application__step2 svg {
    position: absolute;
    right: -140px;
}

.application__content {
    display: flex;
    align-items: center;
    gap: 37px;
}

.application__icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    height: 135px;
    border-radius: 24px;
    background: linear-gradient(137deg, #16373A 8.16%, #0A1F24 31.4%, #0B1B23 47.14%, #122B31 87.5%);
}

.application__icon::before {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -20px;
    right: -20px;
    content: '1';
    border-radius: 100%;
    width: 46px;
    height: 46px;
    flex-shrink: 0;
    background: #FFF;
    color: #000;
    font-size: 22px;
    line-height: 158.7%;
}


.application__icon-a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    height: 135px;
    border-radius: 24px;
    background: linear-gradient(322deg, #82C36D 2.26%, #25523E 92.51%);
}

.application__icon-a::before {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -20px;
    right: -20px;
    content: '2';
    border-radius: 100%;
    width: 46px;
    height: 46px;
    flex-shrink: 0;
    background: #FFF;
    color: #000;
    font-size: 22px;
    line-height: 158.7%;
}

.application__icon-b {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    height: 135px;
    border-radius: 24px;
    background: linear-gradient(135deg, #76B467 11.3%, #295740 97.24%);
}

.application__icon-b::before {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -20px;
    right: -20px;
    content: '3';
    border-radius: 100%;
    width: 46px;
    height: 46px;
    flex-shrink: 0;
    background: #FFF;
    color: #000;
    font-size: 22px;
    line-height: 158.7%;
}

.application__sub {
    margin-top: 35px;
    margin-bottom: 23px;
    font-size: 35px;
    line-height: 130.2%;
}

.application__p {
    font-size: 22px;
    line-height: 158.7%;
    max-width: 342px;
}

.application__step2::before {
    content: '';
    width: 46px;
    height: 46px;
    flex-shrink: 0;
    background-color: linear-gradient(0deg, #FFF 0%, #FFF 100%);
}

.application__step3::before {
    content: '';
    width: 46px;
    height: 46px;
    flex-shrink: 0;
    background-color: linear-gradient(0deg, #FFF 0%, #FFF 100%);
}

.application__info {
    padding-top: 132px;
    display: flex;
    gap: 20px;
}

.application__info input {
    width: 376px;
    height: 106px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 4px solid rgba(255, 255, 255, 0.29);
    background: #202020;
    color: #FFF;
    font-family: "Gotham Pro";
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 158.7%;
    padding: 35px 0 36px 39px;
    transition: all .4s;
}

.application__name:hover {
    box-shadow: 0px 3px 49px -3px rgba(226, 128, 72, 0.76), 0px -4px 0px 0px #8F4119 inset;
}
.application__tel:hover {
    box-shadow: 0px 3px 49px -3px rgba(226, 128, 72, 0.76), 0px -4px 0px 0px #8F4119 inset;
}
.application__mail:hover {
    box-shadow: 0px 3px 49px -3px rgba(226, 128, 72, 0.76), 0px -4px 0px 0px #8F4119 inset;
}
.application__name:focus {
    outline: none;
    box-shadow: 0px 3px 49px -3px rgba(226, 128, 72, 0.76), 0px -4px 0px 0px #8F4119 inset;
}
.application__tel:focus {
    outline: none;
    box-shadow: 0px 3px 49px -3px rgba(226, 128, 72, 0.76), 0px -4px 0px 0px #8F4119 inset;
}
.application__mail:focus {
    outline: none;
    box-shadow: 0px 3px 49px -3px rgba(226, 128, 72, 0.76), 0px -4px 0px 0px #8F4119 inset;
}

.application__button {
    width: 376px;
    height: 106px;
}
.application__blur{
    position: absolute;
    width: 1837px;
    bottom: -500px;
    left: 0px;
    z-index: -1;

}




















